a
{
    color: white;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    padding: 5px 10px;

}
a:link, a:visited
{
	text-decoration: none;	
}
.message-container
{
    /* display: inline; */
    display: flex;
    flex-direction: column;
    gap:10px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#_404Page_Body
{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;

    /* background-image:linear-gradient(to right, darkgray , white , darkgray ); */
    background-image: radial-gradient(white, darkgray 75%);
    background-repeat: no-repeat;
    background-color: darkgrey;
}

