

.game-grid
{
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 50px 10px;
   
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    text-align: center;
    margin: 20px;
}




.game-name
{
    position: relative;
    text-shadow: 2px 2px 5px black;
    margin: 0px;
    top: -55px;
}

.game-banner
{
    position: relative;
    margin: 0px;
    background-color:rgb(0,255,0); 
    width: 270px; 
    height: 50px; 
    top: -20px; 
    left:-10px
}

img.game-logo
{
    height: 100px;
    position: absolute;
    top: -25px; 
    transform: translate(-50%,0%);
    
}
/* img cover size 510px x 718px */

a.game-background
{
    background-color: rgb(63, 63, 63);
    width: 250px;
    height: 352px;

   
    position: relative;
    /* display: inline-block; */

    align-items: center;

    margin-left: auto;
    margin-right: auto;

    border: solid;
    border-color: black;
    
    /* background-image: radial-gradient( rgb(121, 195, 20) 15%,rgba(255,255,255,.2) 50%);
    background-size: cover;
    background-repeat: no-repeat; */
}

.game-foreground
{
    height: 340px;
    /* width: 350px; */
    transform: translate(-50%,0%);

    position: absolute;

    bottom: -20px;
}

.architect-display-container
{
    display: flex;
    
}
.architect-display
{
    flex:1;
    /* align-items: center; */
    /* display: block;           */
  margin-left: 5px;        
  margin-right: 5px; 
      

}
.architect-display > img
{
    /* width: 50%; */
    height: 200px;
    display: block;          
    margin-left: auto;        
    margin-right: auto; 
        
}
/* .architect-display > p
{
    
} */

@media only screen and (max-width: 750px)
{
    .architect-display
    {
                 
        border: solid;
        border-radius: 10px;
        border-color: white;
    }
    .architect-display > img    
    {
        display: none;
    }
  
    .architect-display-container
    {
        min-height: auto;
    }

} 
