#_404Page_Body
{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;

    /* background-image:linear-gradient(to right, darkgray , white , darkgray ); */
    background-image: radial-gradient(white, darkgray 75%);
}


#speech-box
{
    z-index: 1;
}

#scene
{
    position: absolute;

    left: 5%;
    bottom: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;

  margin-left: auto;
  margin-right: auto;
}
.tooltip .speech-box {
  visibility: hidden;

  background-color: white;
    
    border-radius: 30px;
    border: solid;
    border-width: 1px;

    z-index: 2;
    width: 200px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 23px;
    padding-right: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 3;
    top: 1px;
    left: 60%;
}
.tooltip:hover .speech-box
{
    visibility: visible;
}

.char
{
    width: 350px;
    object-fit: cover;
	image-rendering: pixelated;

    position: relative;
    z-index: 5;
}

.object
{
    width: 178px;
    object-fit: cover;
	image-rendering: pixelated;

    position: absolute;
    z-index: 2;
}