#red-button
{
    background-color: #e81416;
    flex:1;
    margin-top: 45px;
    margin-bottom: 0px;
}

#orange-button
{
    background-color: #ffa500;
    flex: 1;
    margin-top: 30px;
    margin-bottom: 15px;
}

#yellow-button
{
    background-color: #faeb36;
    flex:1;
    margin-top: 15px;
    margin-bottom: 30px;
}

#green-button
{
    background-color: #79c314;
    flex:1;
    margin-top: 0px;
    margin-bottom: 45px;
}

#blue-button
{
    background-color: #487de7;
    flex:1;   
    margin-top: 15px;
    margin-bottom: 30px;
}

#indigo-button
{
    background-color: #4b369d;
    flex:1;
    margin-top: 30px;
    margin-bottom: 15px;
}

#violet-button
{
    background-color: #70369d;
    flex:1;
    margin-top: 45px;
    margin-bottom: 0px;
}

