.red-button
{
    background-color: #936969;

    flex:1;
    margin-top: 45px;
    margin-bottom: 0px;
}
.red-button:hover
{
    background-color: #e81416;
    color: black;
}

.orange-button
{
    background-color: #8a8376;
    flex: 1;
   
    margin-top: 30px;
    margin-bottom: 15px;
}

.orange-button:hover
{
    background-color: #ffa500;
    color: black;
}

.yellow-button
{
    background-color: #aca984;
    flex:1;
    
    margin-top: 15px;
    margin-bottom: 30px;
}

.yellow-button:hover
{
   
    background-color: #faeb36;
    color: black;
}

.green-button
{
    background-color: #6e7d5a;
    flex:1;
    
    margin-top: 0px;
    margin-bottom: 45px;
}


.green-button:hover
{
    
    background-color: #79c314;
    color: black;
}

.blue-button
{
    background-color: #8892a7;
    flex:1;
    
    margin-top: 15px;
    margin-bottom: 30px;
}

.blue-button:hover
{
    background-color: #487de7;
    color: black;
}

.indigo-button
{
    background-color: #635f74;
    flex:1;
    
    margin-top: 30px;
    margin-bottom: 15px;
}

.indigo-button:hover
{
    background-color: #4b369d;
    color: black;
}

.violet-button
{
    background-color: #6b5f74;
    flex:1;
    
    margin-top: 45px;
    margin-bottom: 0px;
}

.violet-button:hover
{
    background-color: #70369d;
    color: black;
}